// import google font (Noto Sans)
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500;700;800;900&display=swap');

$primary: #fff;
$secondary: #eee;
$accent: #248aaa;


$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 15px;

